@model NOUR.PFE.WEB.Models.RequestViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="card card-primary card-outline" style="margin-left: 300px;width: 500px; margin-top: 50px;">
            <form class="form-horizontal" asp-controller="" asp-action="Create" enctype="multipart/form-data">
                <div class="card-header">
                    <h3 class="card-title" style="margin-left: 160px;">
                        Make a reservation
                    </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                       @*  <label asp-for="VehiculeTypeId">Vehicle </label>
                        <div class="input-group">
                            <select asp-for="VehiculeTypeId" asp-items="@(new SelectList(Model.Vehicules,"Id", "Name"))" class="form-control select2bs4" style="width: 100%;">

                                <option id="1" value="">-- Select --</option>
                            </select>
                            <span asp-validation-for="VehiculeTypeId" class="text-danger"></span>
                        </div>
                        <br /> *@

                         <label asp-for="VehiculeTypeId">Vehicule Type </label>
                        <div class="input-group">
                            <select asp-for="VehiculeTypeId" asp-items="@(new SelectList(Model.VehiculeTypes,"Id", "TypeName"))" class="form-control select2bs4" style="width: 100%;">
                                <option id="1" value="">-- Select --</option>
                            </select>
                            <span asp-validation-for="VehiculeTypeId" class="text-danger"></span>
                        </div>
                        <br/>

                        <label asp-for="MissionDate">Mission Date</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input asp-for="MissionDate" type="date" class="form-control" placeholder="Mission's Date">
                            <span asp-validation-for="MissionDate" class="text-danger"></span>
                        </div>
                        <br/>

                        
                        <label asp-for="MissionAddress">Mission's Address</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-map"></i></span>
                            </div>
                            <input asp-for="MissionAddress" type="text" class="form-control" placeholder="Mission's Address">
                            <span asp-validation-for="MissionAddress" class="text-danger"></span>

                        </div>
                        <br />
                        <label asp-for="Description">Description</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-pen"></i></span>
                            </div>
                            <textarea asp-for="Description"  class="form-control" placeholder="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                        <br /> 

                        <div class="card-footer">
                            <button asp-controller="Request" asp-action="Create" class="btn  btn-success  float-right"> <i class="fa fa-check"></i> Add</button>

                            <button asp-controller="Request" asp-action="Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i>Retour</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>



