



.container {
    margin-top: 50px;

}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: auto;
    border-radius: 10px;
    margin-top:80px;

}
title{
    text-align:center;
}

.card-header {
    background-color:green;
    text-align:center;
}

.form-group-button{
    text-align:center;
}


.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
    border-radius: 10px;
   
}
.form-group-button{
    text-align:center;
}
h3 {
    color: aliceblue;
}
h1{
    text-align:center;
}


.form-control {
    border-radius: 5px;
}

.btn{
    background-color:green;
    text-align:center;
    color:aliceblue;
}


input{
    width:100px;
    border-radius:10px;
}



.invalid-feedback {
    color: red;
}
