@model NOUR.PFE.WEB.Models.VehiculeTypeViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}

<section class="content-header">
    <div class="container-fluid">

        <div class="card  card-teal card-outline">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Type Name</strong>
                            <p class="text-muted">
                                @Html.DisplayFor(model => model.VehiculeType.TypeName)
                            </p>
                        </div>

                    </div>
                   
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col-12">
                        <a class="btn btn-success  float-right" href='@Url.Action("Edit", "VehiculeType", new { id = @Model.Id })'>
                            <i class=" fa fa-edit"></i>
                            Edit
                        </a>

                        <a class="btn btn-warning  float-left" href='@Url.Action("Index", "VehiculeType")'>
                            <i class="fas fa-arrow-left"></i>
                            Retour
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .card {
        width: 600px;
        margin-top: 100px;
        margin-left: 250px;
    }
</style>
