@model NOUR.PFE.WEB.Models.MaintenanceViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="card card-primary card-outline">
            <form class="form-horizontal" asp-action="Create" enctype="multipart/form-data">
                <div class="card-header">
                    <h3 class="card-title">
                        Add Maintenance
                    </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="VehiculeId">Vehicle </label>
                        <div class="form-group select">
                            <div class="input-group">
                                @* <Select asp-for="VehiculeId"  class="form-control"
                                asp-items="@(new SelectList(Model.Vehicules,"Id", "Imm"))"  style="width: 100%;">
                                <span class="input-group-text"><i class="fa fa-car"></i></span>

                                <option id="0" value="0">-- select --</option>

                                </select> *@
                                <span asp-validation-for="VehiculeId" class="text-danger"></span>
                            </div>
                        </div>

                        <label asp-for="MaintenanceType">Maintenance's Type</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-tools"></i></span>
                            </div>
                            @* <Select asp-for="MaintenanceType.Id"  class="form-control"
                            asp-items="@(new SelectList(Model.MaintenanceTypes,"Id", "Name"))"  style="width: 100%;">
                            <span class="input-group-text"><i class="fa fa-car"></i></span>

                            <option id="0" value="0">-- select --</option>

                            </select>
                            <span asp-validation-for="MaintenanceType" class="text-danger"></span> *@

                        </div>
                        <br />
                        <label asp-for="DateDebut">Maintenance's Date</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input asp-for="DateDebut" type="date" class="form-control" placeholder="Maintenance's Date">
                            <span asp-validation-for="DateDebut" class="text-danger"></span>
                        </div>
                        <br />


                        <label asp-for="Address">Maintenance's Address</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input asp-for="Address" type="text" class="form-control" placeholder="Maintenance's Description">
                            <span asp-validation-for="Address" class="text-danger"></span>

                        </div>
                        <br />

                        <div class="card-footer">
                            <button asp-controller="Maintenance" asp-action="Create" class="btn  btn-success  float-right"> <i class="fa fa-check"></i> Add</button>

                            <button asp-controller="Maintenance" asp-action="Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i>Retour</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<style>
    .card {
        margin-left: 300px;
        width: 500px;
        margin-top: 50px;
    }

    h2 {
        padding-left: 185px;
    }

    .btn {
        width: 100px;
    }

    .btn-warning {
        margin-right: 200px;
        margin-left: 30px;
    }

    .card-title {
        margin-left: 185px;
    }
</style>


</html>
