@model NOUR.PFE.WEB.Models.VehiculeViewModel

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="card card-primary card-outline">

    <div class="card-header">
        <h3 class="card-title">

            Add Vehicule
        </h3>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <label asp-for="Vehicule.Imm">RegNumber</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-tachometer"></i></span>
                </div>
                <input asp-for="Vehicule.Imm" type="text" class="form-control" placeholder="RegNumber">
                <span asp-validation-for="Vehicule.Imm"></span>
            </div>
            <br/>

            <label asp-for="Vehicule.VehiculeType.Id">Vehicle's Type</label>
            <div class="input-group"> 
                <select asp-for="Vehicule.VehiculeType.Id" asp-items="@(new SelectList(Model.VehiculeTypes,"Id", "TypeName"))" class="form-control select2bs4" style="width: 100%;">
                    <option id="1" value="Van">-- Select --</option>
                </select>
                <span asp-validation-for="Vehicule.VehiculeType.Id" class="text-danger"></span>
            </div>
            <br/>

            <label asp-for="Vehicule.VehiculeBrand.Id">Vehicle's brand </label>
            <div class="input-group">
                <select asp-for="Vehicule.VehiculeBrand.Id" class="form-control" asp-items="@(new SelectList(Model.VehiculeBrands,"Id", "Name"))">
                    <option id="0" value="0">-- select --</option>
                </select>
                <span asp-validation-for="Vehicule.VehiculeBrand.Id" class="text-danger"></span>
            </div>
            <br />

            <label asp-for="Vehicule.Status.Status_id">Vehicle's status</label>
            <div class="input-group">
                <select asp-for="Vehicule.Status.Status_id" class="form-control" asp-items="@(new SelectList(Model.Statuss,"Status_id", "Status_name"))">
                    <option id="0" value="0">-- select --</option>

                </select>
                <span asp-validation-for="Vehicule.Status.Status_id" class="text-danger"></span>
            </div>
            <br />  

            <label asp-for="Vehicule.Kilometrage">Vehicle's Mileage</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-tachometer"></i></span>
                </div>
                <input asp-for="Vehicule.Kilometrage" type="text" class="form-control" placeholder="Vehicle's Mileage">
                <span asp-validation-for="Vehicule.Kilometrage"></span>
            </div>
            <br/>

            <label asp-for="Vehicule.PurshaseDate">Purshase Date</label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input asp-for="Vehicule.PurshaseDate" type="date" class="form-control" placeholder="Purshase Date" />
                    <span asp-validation-for="Vehicule.PurshaseDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <tr>
                    <td>
                        <button asp-controller="Vehicule" asp-action="Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i>Back</button>
                    </td>
                    <td>
                        <button asp-controller="Vehicule" asp-action="Create" class="btn  btn-success  "> <i class="fa fa-check"></i> Add</button>
                    </td>
                </tr>
            </div>
        </form>
    </div>
</div>

<style>
    .card {
        margin-left: 300px;
        width: 500px;
        margin-top: 50px;
    }

    h2 {
        padding-left: 185px;
    }

    .btn {
        width: 100px;
    }

    .btn-warning {
        margin-right: 200px;
        margin-left: 30px;
    }

    .card-title {
        margin-left: 185px;
    }
</style>