@model NOUR.PFE.WEB.Models.VehiculeViewModel

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="card card-primary card-outline">

    <div class="card-header">
        <h3 class="card-title">

            Add Vehicule
        </h3>
    </div>

    <div class="card-body">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
             

            <label asp-for="RegNumber">RegNumber</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-tachometer"></i></span>
                </div>
                <input asp-for="RegNumber" type="text" class="form-control" placeholder="RegNumber">
                <span asp-validation-for="RegNumber"></span>
            </div>
            <br/>

            <label asp-for="TypeId">Vehicle's Type</label>
            <div class="input-group"> 
                <select asp-for="TypeId" asp-items="@(new SelectList(Model.VehiculeTypes,"Id", "TypeName"))" class="form-control select2bs4" style="width: 100%;">
                    <option id="1" value="Van">-- Select --</option>
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <br />

            <label asp-for="BrandId">Vehicle's brand </label>
            <div class="input-group">
                <select asp-for="BrandId" class="form-control" asp-items="@(new SelectList(Model.VehiculeBrands,"Id", "Name"))">
                    <option id="0" value="0">-- select --</option>
                </select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <br />

            <label asp-for="StatusId">Vehicle's status</label>
            <div class="input-group">
                <select asp-for="StatusId" class="form-control" asp-items="@(new SelectList(Model.Statuss,"Status_id", "Status_name"))">
                    <option id="0" value="0">-- select --</option>

                </select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <br />  

            <label asp-for="Kilometrage">Vehicle's Mileage</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-tachometer"></i></span>
                </div>
                <input asp-for="Kilometrage" type="text" class="form-control" placeholder="Vehicle's Mileage">
                <span asp-validation-for="Kilometrage"></span>
            </div>
            </br>

            <label asp-for="PurshaseDate">Purshase Date</label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input asp-for="PurshaseDate" type="date" class="form-control" placeholder="Purshase Date" />
                    <span asp-validation-for="PurshaseDate" class="text-danger"></span>
                </div>
            </div>

            <label asp-for="parc">Parc</label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-parking"></i></span>
                    </div>
                    @*<select asp-for="Id" class="form-control" asp-items="@(new SelectList(Model.parc,"Id", "Name"))">
                    <span class="input-group-text"><i class="fa fa-car"></i></span>

                    <option id="0" value="0">-- select --</option>

                    </select>
                    <span asp-validation-for="parc" class="text-danger"></span>

                    </div>
                    </div>  *@

                    <input asp-for="parc.Id" type="text" class="form-control" placeholder="Parc Id">
                    <span asp-validation-for="parc.Id"></span>
                </div>

                <tr>
                    <td>
                        <button asp-controller="Vehicule" asp-action="Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i>Back</button>

                    </td>
                    <td>
                        <button asp-controller="Vehicule" asp-action="Create" class="btn  btn-success  "> <i class="fa fa-check"></i> Add</button>
                    </td>
                </tr>

                @* <div class="card-footer">
                <button asp-controller="User" asp-action="Create" class="btn  btn-success  float-right"> <i class="fa fa-check"></i> Add</button>

                <button asp-controller="User" asp-action="Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i>Retour</button>
                </div>*@

            </div>
        </form>
    </div>
</div>


<style>
    .card {
        margin-left: 300px;
        width: 500px;
        margin-top: 50px;
    }

    h2 {
        padding-left: 185px;
    }

    .btn {
        width: 100px;
    }

    .btn-warning {
        margin-right: 200px;
        margin-left: 30px;
    }

    .card-title {
        margin-left: 185px;
    }
</style>
