@model NOUR.PFE.WEB.Models.BrandViewModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-6">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        Add Vehicle Brand
                    </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Brand's Name</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-car"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Brand's Name">
                        </div>
                        <br />

                        <label>Brand's Logo</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-image"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Brand's Logo Url">
                        </div>
                        <br />

                        <tr>
                            <td>
                                <button type="button" asp-controller="VehiculeBrand" asp-action="Index" class="btn  btn-warning">
                                    <i class="fas fa-arrow-left"></i>
                                    Back
                                </button>
                            </td>
                            <td>
                                <button asp-controller="VehiculeBrand" asp-action="Create" type="button" class="btn  btn-success">
                                    <i class="fa fa-check"></i>
                                    Add
                                </button>
                            </td>
                        </tr>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <style>
        .card {
            margin-left: 300px;
            width: 500px;
            margin-top: 50px;
        }

        h2 {
            padding-left: 185px;
        }

        .btn {
            width: 100px;
        }

        .btn-warning {
            margin-right: 200px;
            margin-left: 30px;
        }

        .card-title {
            margin-left: 185px;
        }
    </style>


